@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

section{
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
    padding-bottom: 2rem;
}

:root{
    --font-color: black;
    --primary-color: #99d9d9;
    --second-color: rgb(0, 169, 121);
    --third-color: rgba(4, 81, 63, 0.8);
}

/*------header------*/

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: var(--font-color);
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.logo{
    cursor: pointer;
    height: 9vh;
    border-radius: 20px;
}


.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li:nth-child(1){
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: var(--primary-color);
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: var(--second-color);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
   background-color: var(--third-color); 
}

header input{
    display: none;
}

header label{
    font-size: 3rem;
    color: var(--segundo-color);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
}



/*--inicio--*/

.inicio{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inicio .image{
    width: 45vw;
}

.inicio .content h3{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
}

.inicio .content h3 span{
    color: var(--second-color);
    text-transform: uppercase;
}

.inicio .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .8rem 3rem;
    border-radius: 5rem;
    background: var(--primary-color);
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
}

.heading{
    text-align: center;
    background: var(--third-color);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 1rem;
}

.detalles .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.detalles .caja-contenedor .caja{
    flex: 1 1 30rem;
    background: white;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    margin: 1.5rem;
    padding: 3rem 2rem;
    border-radius: .5rem;
    text-align: center;
    transition: .2s linear;
}

.detalles .caja-contenedor .caja img{
    height: 20rem;
    border-radius: .5rem;
}

.detalles .caja-contenedor .caja h3{
    font-size: 1.7rem;
    color: #333;
    padding-top: 1rem;
}

.detalles .caja-contenedor .caja p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem 0;
}

.acerca_de{
    background-size: cover;
    background-position: center;
    padding-bottom: 3rem;
}

.acerca_de .columna{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.acerca_de .columna .image{
    flex: 1 1 30rem;
}

.acerca_de .columna .image img{
    width: 100%;
}

.acerca_de .columna .content{
    flex: 1 1 30rem;
}

.acerca_de .columna .content h3{
    font-size: 3rem;
    color: #333;
    text-align: center;
}

.acerca_de .columna .content p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
    text-align: justify;
}

.acerca_de .columna .content .bottons a:last-child{
    margin-left: 2rem;
}

.body-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-card .card{
    width: 25rem;
    height: 35rem;
    margin: 1rem;
}

.body-card .card .face{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    transition: .5s;
}

.body-card .card .face .front{
    transform: perspective(60rem) rotateY(0deg);
    box-shadow: 0 .5rem 1rem #333;
}

.body-card .card .face .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-card .card .face .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    color: #fff;
}

/*media query*/

@media(max-widht:1500px){
    html{
        font-size: 55%;
    }
}

@media(max-width:990px){
    section{
        padding: 0 3%;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }

    .body-card{
        flex-wrap: wrap;
    }

    .body-card .card{
        width: 25rem;
        height: 35rem;
        margin: 3.5rem;
    }
}

@media(max-width:780px){
    header label{
        visibility: visible;
        opacity: 1;
    }

    header .nav_links{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: white;
        padding: 1rem 2rem;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
        transition: .2s linear;
    }

    header .nav_links li{
        display: block;
        margin: 0;
        font-size: 2rem;
        background-color: white;
    }

    header .nav_links li a{
        background-color: white;
    }

    header input:checked ~ .nav_links{
        transform: scaleY(1);
        opacity: 1;
    }

    header input:checked ~ label::before{
        content: '\f00d';
    }

    .inicio{
        flex-flow: column-reverse;
    }

    .inicio .image img{
        width: 100%;
    }

    .inicio .content h3{
        font-size: 3.6rem;
    }

    .inicio .content p{
        font-size: 1.5rem;
    }

    .acerca_de{
        background-position: right;
    }

    .body-card{
        flex-wrap: wrap;
    }

    .body-card .card{
        width: 25rem;
        height: 35rem;
        margin: 3.5rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 49%;
    }

    .acerca_de .columna .content bottons a{
        width: 100%;
        text-align: center;
    }

    .acerca_de .columna .content bottons a:last-child{
        margin: 1rem 0;
    }

    .body-card{
        flex-wrap: wrap;
    }

    .body-card .card{
        width: 25rem;
        height: 35rem;
        margin: 3.5rem;
    }
}